.container__incomingMessage {
    display: flex;
    padding: 11px;
    background-color: #F8F8F8;
    position: relative;
    width: 402px;
    height: auto;
    border-radius: 0 12px 12px 12px;
    margin-bottom: 10px;
}

.text__incomingMessage {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

.paragraph__incomingMessage {
    margin-bottom: 15px;
}

.paragraph__incomingMessage:last-of-type {
    margin-bottom: 0;
}

.time__incomingMessage {
    position: absolute;
    bottom: 11px;
    right: 11px;
    color: #999999;
    font-size: 9px;
    line-height: 9px;
    font-weight: 500;
}
