<div class="container__incomingMessage">
    <div class="text__incomingMessage">
        {{#each this.text}}
            <div class="paragraph__incomingMessage">
                {{paragraph}}
            </div>
        {{/each}}
    </div>
    <div class="time__incomingMessage">
        {{time}}
    </div>
</div>
