<div class="container__errorPage">
    <div class="wrap__errorPage">
        <div class="head__errorPage">
            <div class="number__errorPage">
                {{number}}
            </div>
            <div class="tittle__errorPage">
                {{title}}
            </div>
        </div>
        {{{hrefReg}}}
    </div>
</div>
