{{#each this.buttons}}
    <div class="container__buttonSettings">
        <a href="{{href}}" style="color: {{color}}" class="a__buttonSettings">
            {{name}}
        </a>
    </div>
{{/each}}
