<div class="container__sentMessage">
    {{text}}
    <img src="{{check}}" class="check__sentMessage" alt="Сообщение прочитано" />
    <div class="time__sentMessage">
        {{time}}
    </div>
</div>
