<div class="main__input">
    <form>
        <input type="{{type}}" autocomplete="off" class="input__search" value="{{value}}">
        <img src="{{searchIcon}}" alt="Поиска по чатам" class="input__search__icon" />
    </form>
</div>

