.input__message {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    background-color: #EFEFEF;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #999999;
}

.input__message:focus {
    outline: none;
}
