<div class="indexPage">
    <h2>Главная</h2>
    <nav>
        <ul class="index__ul">
            {{#each this.pages}}
                <li>
                    <a href="{{link}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
    </nav>
</div>

